<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {{ meta|raw }}
        <title>Webolution</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <style>
            #current-generation {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            #statistics {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            #statistics-graphs {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            #past-generations {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            #operations {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            span {
                width: 30px;
                height: 30px;
                display: inline-block;
                padding: 0px;
                margin: -2px;
            }

            a, a:link, a:visited, a:hover, a:active {
                padding: 0px;
                margin: 0px;
            }

            img {
                padding: 0px;
                margin: 0px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p><a href="/">Home</a></p>

        <div id="current-generation">
            {{ current_generation|raw }}
        </div>

        <div id="statistics">
            {{ statistics|raw }}
        </div>

        <div id="statistics-graphs">
            {{ graphs }}
        </div>

        <div id="past-generations">
            {{ past_generations }}
        </div>

    <div id="operations">


        <ul>
        {% for step in operations.steps %}
            <li><a href="/color_dashboard_evolution/step/{{ step }}">{{ step }}</a></li>
        {% endfor %}
        </ul>

        <p><a href="/color_dashboard_evolution/clear_database">Clear Database</a></p>

    </div>

    </body>
</html>
