<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {{ meta|raw }}
        <title>Webolution</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <style>

            #current-generation {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
            }

            #population-form {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: 75%;
                float: left;
                clear: both;
            }

            #statistics {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: 24%;
                float: left;
            }

            #statistics-graphs {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: 24%;
                float: left;
            }

            #past-generations {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
                clear: both;
            }

            #operations {
                border-color: lightgray;
                border-style: solid;
                height: auto;
                width: auto;
                clear: both;
            }

            .individualWrapper {
                float: left;
            }

            .individual {
                float: left;
                overflow: hidden;
                height: 250px;
                width: 250px;
            }

            .individual img {
                float: left;
            }

            .individual iframe {
                float: left;
            }

            .individualOptions {
                float:left;
                padding: 0;
                margin: 0;
            }

            span {
                width: 30px;
                height: 30px;
                display: inline-block;
                padding: 0px;
                margin: 0;
                border-color: lightgray;
                border-style: solid;
                float:left;
            }

            .pick-label {
                background-color: #fff;
                border: 1px solid #666;
                color: #000;
                padding: 5px 5px;
                text-align: center;
                display: inline-block;
                cursor: pointer;
            }

            a, a:link, a:visited, a:hover, a:active {
                padding: 0px;
                margin: 0px;
            }

            img {
                padding: 0px;
                margin: 0px;
                border: 1px solid black;
            }

            iframe {
                -ms-transform:scale(0.50);
                -moz-transform:scale(0.50);
                -o-transform: scale(0.50);
                -webkit-transform: scale(0.50);
                transform:scale(0.65);
                border:1px solid black;
            }

            iframe {
                position: relative;
                top: -67px;
                left: -66px;
                height: 380px;
                width: 380px;
            }
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p><a href="/">Home</a></p>

        <div id="current-generation">
            <p>Generation: {{ current_generation }}</p>
        </div>

        <div id="population-form">
            <script type="text/javascript">
                function selects(){
                    var ele = document.getElementsByClassName('individual-pick');
                    for (var i = 0; i < ele.length; i++) {
                        if(ele[i].type == 'checkbox')
                            ele[i].checked = true;
                    }
                }
                function deSelect(){
                    var ele = document.getElementsByClassName('individual-pick');
                    for (var i = 0; i<ele.length; i++) {
                        if(ele[i].type == 'checkbox')
                            ele[i].checked = false;

                    }
                }
            </script>
            <form method="post" action="{{ path_for(route_name) }}">
                <div>
                    <input type="button" onclick="selects()" value="Select All" />
                    <input type="button" onclick="deSelect()" value="Deselect All" />
                    <input id="evolution-run" type="submit" value="Run" name="run" />
                </div>
                {% for individual in population_form_items %}
                    <div class="individualWrapper">
                        <div class="individual">
                            {{ individual.render|raw }}
                        </div>
                        <div class="individualOptions">
                            {{ individual.download_button|raw }}<br>
                            {{ individual.pick_checkbox|raw }}<br>
                            <p><a href="/individual/{{ individual.id }}" target="_blank">View</a></p>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>

        <div id="statistics">
            <h2>Statistics</h2>
            {{ statistics|raw }}
        </div>

        <div id="statistics-graphs">
            <h2>Graph</h2>
            {{ graphs }}
        </div>

{% if (past_generations) %}
        <div id="past-generations">
            <h2>Past Generations</h2>
            {% for generation in past_generations %}
                {{ generation }}
            {% endfor %}
        </div>
{% endif %}

    <div id="operations">
        <p><a href="/{{ route_name }}/reset">Reset</a></p>
        <p><a href="/{{ route_name }}/clear_database">Clear Database</a></p>
        <p><a href="/{{ route_name }}/run">Run evolution</a></p>
    </div>

    </body>
</html>
